.right {
  padding-right: 15px;
}
.left {
  padding-left: 15px;
  padding-right: 15px;
}
.pointer {
  cursor: pointer;
}
.md-header{
  background-color: #1976d2 !important;
}
.icon {
  height: 24px;
  width: 24px;
}
.checkmark {
  background: url(/static/img/ic_done_24px.svg) no-repeat;
  background-size: cover;
  height: 72px;
  width: 72px;
}
.inherit {
   &, &:visited, &:hover, &:active {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

@media only screen and (min-width: 779px) {
  #home:after {
    content: "Home";
  }
}

@media only screen and (max-width: 780px) {
  #copyright {
    display: none;
  }
  #home {
    padding-top: 5px;
    background: url(/static/img/ic_home_24px.svg) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
  }
}
