.right {
  padding-right: 15px;
}
.pointer {
  cursor: pointer;
}
.md-header{
  background-color: #1976d2 !important;
}
.inherit {
   &, &:visited, &:hover, &:active {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}
