{% extends "_base.html" %}
{% block title %}FerryTime{% endblock %}
{% block body %}
  {% raw %}
    <div ng-controller='IndexCtrl' id='index-wrapper'>
      <md-content>
        <md-toolbar>
          <h2 class="md-toolbar-tools">
            <span>Toolbar</span>
          </h2>
        </md-toolbar>
        <md-list>
          <md-item ng-repeat="item in items">
            <md-item-content>
              <div class="md-tile-content">
                <h3>{{item.heading}}</h3>
                <h4>{{item.subheading}}</h4>
                <p>{{item.content}}</p>
              </div>
              <div class="md-tile-right">
                <img src='http://mediafiles.dfds.com/seaways/marketing%20materials/web%20site/20080811_na_ship_outline_facilites_uk.jpg' class='ferry-img'>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-content>
    </div>
  {% endraw %}
{% endblock %}
